@page "/progressbar"

<div class="container-1">
    <div class="skills">
        <h2>HTML</h2>
        <div class="progress-bar">
            <div id="prog1" class="html"><span>86%</span></div>
        </div>

        <h2>CSS</h2>
        <div class="progress-bar">
            <div id="prog2" class="css"><span>86%</span></div>
        </div>
    </div>
</div>

